.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 0.5rem;
    background: #f0f0f0;
    gap: 3rem;
    margin: 0;
    padding: 0;
}