.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    background: #f0f0f0;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
}

.tableContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: white
}

.buttonAdd {
    display: flex;
    justify-content: end;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

.formContent {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: auto;
    margin-top: 5em;
    gap: 3vh;
}